<?xml version="1.0"?>
<launch>
  <include file="$(find my_worlds)/launch/empty_world_complete.launch">
    <arg name="world_name" value="$(find my_worlds)/worlds/world_map_02.world"/> 
    
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
